html {
    font-family: Verdana;
    font-size: 16px;
    background-color: black;
    text-align: center;
}

h1, h2 {
    font-weight: normal;
    color: white;
}

h1 {
    font-size: 50px;
}
h2 {
    font-weight: 300;
    font-size: 42px;
}

h3 {
    color: gray;
    font-size: 21px;
}

.link a {
    font-size: 16px;
    color: aquamarine;
} 

footer {
    text-align: right;
    color: gray;
}